<!doctype HTML>

<head>
    <style>
        html {
            color: aliceblue;
            font-family: "Consolas";
            background-color: #000b18;
        }

        a:visited {
            color: #8c1cc0;
        }
    </style>>
</head>

<body>
    <a href="https://repl.it/@64andy2000/twitter-ebooks-bot">Source Code</a> |
    <a href="https://twitter.com/ebookslocked">Twitter @EbooksLocked</a>
    <h1>MisakEbooks</h1>
    <h2>Error messages: {{ errors|length }}</h2>
    <div class="errors">
        {% for error in errors %}
        <p>{{error.__class__.__name__}}: {{ error }}</p>
        {% endfor %}
    </div>
</body>